# Stripe — pobierz klucze z https://dashboard.stripe.com/apikeys
STRIPE_SECRET_KEY=sk_test_TUTAJ_WKLEJ_SWOJ_KLUCZ
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_TUTAJ_WKLEJ_SWOJ_KLUCZ

# URL sklepu
NEXT_PUBLIC_BASE_URL=http://localhost:3000
